{% extends 'base.html.twig' %}

{% block title %}Payement annulé{% endblock %}
{% block carousel %}{% endblock %}
{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-warning">
                {{ message }}
            </div>
  
{% endfor %}
{% endblock %}
