{% extends 'base.html.twig' %}

{% block title %}Payment Validé{% endblock %}
{% block carousel %}{% endblock %}
{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
                {{ message }}
            </div>
  
{% endfor %}
{% endblock %}
